@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');


*{
    box-sizing:border-box;
    margin:0;
    padding:0;

}

header{

    font-family: 'Inconsolata', monospace;
    display:flex;
    
    align-items:center;
    justify-content:space-between;
    padding:25px 10%;
    background-color:  #222831;  
}

footer{
    font-family: 'Inconsolata', monospace;
    display:flex;
    color:rgb(111, 148, 62);
    align-items:center;
    justify-content:center;
    padding:25px 10%;
    background-color:  #393e46;
    flex-direction:column;

}

.nav__links{
    list-style:none;
    
    
    
}
a{
    text-decoration:none;
    color:#eeeeee;
    font-size:20px;
    transition: all .35s ease-in-out;
    
    
}
a:hover{
    transition: all .35s ease-in-out;
    color: #ff0000; 
}


.nav__links li{
    display:inline-block;
    padding:0px 20px;
    
    }

    
#homepage{
    background-color:#393e46;
}

#doral_logo{
    border-radius:60px;
    width:60px;
    justify-content:left;
    
    
    
}
main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;



}

#buttonprevious, #buttonforward {
    
    background-color: transparent;
    appearance: none;
    border: none;
    filter: brightness(0) invert(1);
    transition: all .3s ease-in-out;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
}

#buttonprevious:hover, #buttonforward:hover{
    filter:brightness(100%);
    transition: all .3s ease-in-out;
    cursor:pointer;


}

#buttonprevious{
    transform: rotate(180deg);
}

#imgandbutton{
    display:flex;
    vertical-align:middle; 
    margin-bottom:0px;
}
#descp{
    font-size:20px;
    margin-top:0px;
    font-family: 'Inconsolata', monospace;
    color:#eeeeee;
}

#clubPic1, #clubPic2, #clubPic3{

    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    border: 5px solid #222831; 


}

#clubimages {
    position:relative;
    height:562.5px;
    width:1000px;
    margin:0  auto;
}

#clubPic2{
    opacity:0;
}

#clubPic3{
    opacity:0;
}

#resourceTable a{
    font-size: 35px;
}

#resourceTable{
    display:flex;justify-content:center;flex-direction:column;
}

#resourceh2{
    font-weight:normal;
    font-size:65px;
    color:rgb(197, 53, 53);
    display:flex;
    justify-content: center;
}

#utube{
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
}

#languagedocs{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    
}

#ucf, #usaco, #codequest, #stetson, #uf, #vjudge, #acsl{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#comppics{
    border-radius:50px;
    padding:10px;
}

#listofcomps p{
    color:#eeeeee;
    width:1000px;
}

#comph1{
    color:rgb(111, 148, 62);
    display:flex;
    justify-content:center;
}

#ph1, #infoh1{
    color:#eeeeee;
}

#positions{
    display:flex;
    align-items:center;
    justify-content:space-between;
    
    
}

#presdescription, #vpdescription{
    width:350px;
}
#president{
    margin-right:10px;
}
#vp{
    margin-left:10px;
}

#positions p{
    display:flex;
    justify-content:center;


    

}

#prestitle, #vptitle, #presname, #vpname{
    font-family: 'Crimson Text', serif;
    
    color:#eeeeee;
}

#presdescription, #vpdescription{
    font-size:18px;
    text-align:center;
    color:#eeeeee;
}

#presimg:hover{
    cursor:pointer;
}

#prestitle, #vptitle{
    font-size:40px;
}

#addwhite{
    color:#eeeeee;
    font-size:18px;
}
#vpimg:hover,#edepic:hover{
    cursor:pointer;
}